<div class="years">
    <button [class.active]="selectedYear === 2000" (click)="selectYear(2000)">2000's</button>
    <button [class.active]="selectedYear === 1990" (click)="selectYear(1990)">1990's</button>
</div>

<div *ngFor="let movie of movies$ | async">
    <div class="movie">
        <img *ngIf="movie.poster !== 'N/A'" [src]="movie.poster" alt="" />
        <div class="details">
            <h1>{{ movie.title }}</h1>
            <div class="meta">
                <div class="rated">{{ movie.rated }}</div>
                <div class="runtime">{{ movie.runtime }}</div>
                <div class="released">{{ movie.released }}</div>
            </div>
            <div class="plot">{{ movie.plot }}</div>
            <a class="imdb" [href]="movie.imdbUrl" target="_blank">View on IMDB</a>
        </div>
    </div>
</div>
