:root {
    --color-dark: #313436;
    --color-medium: #8f989d;
    --color-light: #e9ebee;
    --color-lighter: #f7f8f9;
    --color-white: #fff;
    --color-yellow: #efb55e;
    --color-blue: #3572ab;
    --color-gray: #62696d;
}
